html,body {
    height: 100%;
    background-color: #111;
    color: #666;
    background-position: top;
    background-image:url("../img/chem.png");
    background-repeat: repeat-x;
}
* {
    margin:0;
}
    .sortable { position:relative; list-style-type: none; margin: 0; padding: 0; width: 100%; }
    .sortable li { margin: 0px 3px 3px 3px; padding: 0.4em; font-size: 1em; height: 18px; }
    .list-name { padding-left:3em; }
    .list-controls span {float:left;display:inline;}
#wrapper { 
    position:relative;
    height: auto !important;
    min-height: 80%;
    margin: 0 auto 0;    
}
#headerPage {
    position:relative;
    min-height:20%;
    width: 100%;
}
.controls ul li {
    width: 50%;
    display: inline;
    margin-left:auto;
    margin-right: auto;
}
.controls ul{
margin: 0;
padding: 0;
list-style-type: none;
text-align: center;
}

.list-name{
    font-size:small;
}
#audio {
    width:100%;
}

.deletesong{
    float:right;
    right:2em;
}
.control-button{
    width:2em;
}
.ui-accordion {
    font-size:small;
}

#spider {
    position:absolute;
    height:10%;
    vertical-align: bottom;
    text-align: center;
    color: #FE0;
}

#spiderlogo{
    height:60px;
}

#skull {
    position:absolute;
    right:0px;
    height:10%;
}
.hidden{
    display:none;
}

.list-controls span {
    cursor:pointer;
}
