html,body {
    height: 100%;
}
* {
    margin:0;
}
    .sortable { position:relative; list-style-type: none; margin: 0; padding: 0; width: 100%; }
    .sortable li { margin: 0px 3px 3px 3px; padding: 0.4em; font-size: 1em; height: 18px; }
    .list-name { padding-left:3em; }
    .list-controls span {float:left;display:inline;}
#wrapper { 
    position:relative;
    height: auto !important;
    min-height: 90%;
    margin: 0 auto 0;    
}
#headerPage {
    position:relative;
    min-height:10%;
    width: 100%;
}
#controls {
    width: 50%;
    display: inline;
    margin-left:auto;
    margin-right: auto;
}

.list-name{
    font-size:small;
}
#audio {
    width:100%;
}

.deletesong{
    float:right;
    right:2em;
}
